<div id="status-graph" class="container marketing">
  <div class="bg-graph" id="container"></div>
  <div class="featurette">
    <h2 class="featurette-heading"><span class="temperature muted large"><%= @data_points.first.temperature_formatted.html_safe %></span> Current Temperature</h2>
    <p>Target:<span class="temperature muted"></span></p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <h2 class="featurette-heading"><span class="humidity muted large"><%= @data_points.first.humidity %>%</span> Current Humidity</h2>
    <p>Target:<span class="humidity muted">70%</span></p>
  </div>

  <hr class="featurette-divider">
</div><!-- /.container -->

<ul id="data" class="logs">
  <% @data_points.each do |data_point| %>
    <li data-temp="<%= data_point.temperature %>" data-humidity="<%= data_point.humidity %>" data-time="<%= data_point.timestamp %>">
      <%= data_point.temperature_formatted.html_safe %>
    </li> 
  <% end %>
</ul>

<% content_for :scripts do %>
  <script>
    $(function(){
      var height = $("#status-graph").height();
      $("#container").css("height", height);
      Highcharts.setOptions({
        global: {
            useUTC: false
        }
      });

      var chart, 
          series,
          series2;


      function pollForChanges() {        
        $.get("<%= pages_path(:format => :json, :created_at => Time.now) %>", function(d){
          
          // var x = (new Date()).getTime(), // current time
          //     y = 70;

          // series.addPoint([x, y], true, true);
          // series2.addPoint([x, y + 1], true, true);

        });
      }

      window.chart = new Highcharts.Chart({
        colors: ['#fea38a'],
        chart: {
          renderTo: 'container',
          type: 'spline',
          marginRight: 10,
          events: {
              load: function() {


                  // set up the updating of the chart each second
                  series = this.series[0];
                  series2 = this.series[1];
                
                  pollForChanges();
                
              }
          }
      },
      title: {
          text: 'Live random data'
      },
      xAxis: {
          type: 'datetime',
          tickPixelInterval: 150,
          color: '#eee',
          lineColor: '#fff',
          tickColor: '#fff'
      },
      yAxis: {
          gridLineWidth: 0,
          title: {
              text: 'Value'
          },
          plotLines: [{
              value: 0,
              width: 1,
              color: '#fea38a',
              lineColor: '#fff',
              tickColor: '#fff'
          }]
      },
      tooltip: {
          formatter: function() {
                  return '<b>'+ this.series.name +'</b><br/>'+
                  Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) +'<br/>'+
                  Highcharts.numberFormat(this.y, 2);
          }
      },
      legend: {
          enabled: false
      },
      exporting: {
          enabled: false
      },
      series: [{
          color: '#297e96',
          name: 'Humidity',
          data: (function() {
            var data = [];
            $("#data li").each(function(){
              data.push({x:parseFloat($(this).attr("data-time")), y:parseFloat($(this).attr("data-humidity"))})
            });
            return data;
          })()
        },
        {
          color: '#964029',
          name: 'Temperature',
          data: (function() {
            var data = [];
            $("#data li").each(function(){
              data.push({x:parseFloat($(this).attr("data-time")), y:parseFloat($(this).attr("data-temp"))})
            });
            return data;
          })()
        }



        ]
      });
    });
  </script>
<% end %>